ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 23vh); /* Ensure full window height minus nav bar */
}

ion-grid {
    height: 100%;
}

ion-row { 
    min-height: 100%;
    height: 100%; 
}

ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-grid.gallery-scroll ion-col {
    height: fit-content;
}

.gallery-scroll {
    overflow-y: auto;
    height: 100%;
}

.video-container {
    width: 75%;
    aspect-ratio: 1 / 1;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#video {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    background: #000;
    display: block;
    border-radius: 8px; 
}

.fab-inside-video {
    margin-top: 75%;
    z-index: 2;
}

.hidden { 
    display: none;
}